$button-primary-background: core-color(primary, medium) !default;

$button-secondary-background: core-color(secondary, medium) !default;
$button-secondary-color: core-color(secondary, dark) !default;
