// Global variables
// ========================================================================

//
// Typography
//

$global-font-family: $core-font-family !default;

//
// Colors
//

$global-color: core-color(neutral, default) !default;

//
// Backgrounds
//

$global-muted-background:     core-color(neutral, 100) !default;
$global-primary-background:   core-color(primary, medium) !default;
$global-secondary-background: core-color(secondary, medium) !default;

$global-success-background: core-color(success, medium) !default;
$global-warning-background: core-color(warning, medium) !default;
$global-danger-background:  core-color(danger, medium) !default;

//
// Borders
//

$global-border-width: $core-border-width;
$global-border: $core-border-color;
