@each $breakpoint, $spacing in $core-spacing {
  $breakpoint-shorthand: map-get($core-size-shorthands, $breakpoint);

  .mt-#{$breakpoint-shorthand} { margin-top: $spacing; }

  .mr-#{$breakpoint-shorthand} { margin-right: $spacing; }

  .mb-#{$breakpoint-shorthand} { margin-bottom: $spacing; }

  .ml-#{$breakpoint-shorthand} { margin-left: $spacing; }

  .mx-#{$breakpoint-shorthand} {
    margin-left: $spacing;
    margin-right: $spacing;
  }

  .my-#{$breakpoint-shorthand} {
    margin-top: $spacing;
    margin-bottom: $spacing;
  }

  .m-#{$breakpoint-shorthand} { margin: $spacing; }
}
