@mixin generate-padding-classes($suffix: '') {
  @each $breakpoint, $spacing in $core-spacing {
    $breakpoint-shorthand: map-get($core-size-shorthands, $breakpoint);

    .pt-#{$breakpoint-shorthand}#{$suffix} { padding-top: $spacing; }

    .pr-#{$breakpoint-shorthand}#{$suffix} { padding-right: $spacing; }

    .pb-#{$breakpoint-shorthand}#{$suffix} { padding-bottom: $spacing; }

    .pl-#{$breakpoint-shorthand}#{$suffix} { padding-left: $spacing; }

    .px-#{$breakpoint-shorthand}#{$suffix} {
      padding-left: $spacing;
      padding-right: $spacing;
    }

    .py-#{$breakpoint-shorthand}#{$suffix} {
      padding-top: $spacing;
      padding-bottom: $spacing;
    }

    .p-#{$breakpoint-shorthand}#{$suffix} { padding: $spacing; }
  }
}

// Generate default padding classes
@include generate-padding-classes();

// Generate per-breakpoint padding classes
@media (min-width: $breakpoint-small)  { @include generate-padding-classes(\@s); }
@media (min-width: $breakpoint-medium) { @include generate-padding-classes(\@m); }
@media (min-width: $breakpoint-large)  { @include generate-padding-classes(\@l); }
@media (min-width: $breakpoint-xlarge) { @include generate-padding-classes(\@xl); }

// Generate print padding classes
@media print { @include generate-padding-classes(\@p); }
