// Open Sans font-face definitions
// --------------------------------------------------------------------------------
// NORMAL

// 400 - Regular
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: asset-url('/fonts/open_sans/OpenSans-Regular.otf') format('opentype');
}

// 600 - Semibold
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: asset-url('/fonts/open_sans/OpenSans-Semibold.otf') format('opentype');
}

// 700 - Bold
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: asset-url('/fonts/open_sans/OpenSans-Bold.otf') format('opentype');
}

// 800 - Extra Bold
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: asset-url('/fonts/open_sans/OpenSans-Extrabold.otf') format('opentype');
}

// 900 - Black
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 900;
  src: asset-url('/fonts/open_sans/OpenSans-Black.otf') format('opentype');
}

// --------------------------------------------------------------------------------
// ITALICS

// 400 - Regular
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: asset-url('/fonts/open_sans/OpenSans-RegularItalic.otf') format('opentype');
}

// 600 - Semibold
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: asset-url('/fonts/open_sans/OpenSans-SemiboldItalic.otf') format('opentype');
}

// 700 - Bold
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: asset-url('/fonts/open_sans/OpenSans-BoldIt.otf') format('opentype');
}
