@mixin hook-article(){}
@mixin hook-article-adjacent(){}
@mixin hook-article-title(){}
@mixin hook-article-meta(){

    a { color: $article-meta-link-color; }

    a:hover {
        color: $article-meta-link-hover-color;
        text-decoration: none;
    }

}
@mixin hook-article-misc(){}
@mixin hook-inverse-article-title(){}
@mixin hook-inverse-article-meta(){}
@mixin hook-inverse-component-article(){

    .uk-article-title  {
        @if(mixin-exists(hook-inverse-article-title)) {@include hook-inverse-article-title();}
    }

    .uk-article-meta  {
        color: $inverse-article-meta-color;
        @if(mixin-exists(hook-inverse-article-meta)) {@include hook-inverse-article-meta();}
    }

}