@mixin b3-form {
  border: map-get($core-form-borders, neutral);
  border-radius: $core-radius;
}
@mixin hook-form { @include b3-form; }

@mixin b3-form-focus {
  border: map-get($core-form-borders, primary);
  box-shadow: map-get($core-form-focus-shadow, primary);
}
@mixin hook-form-focus { @include b3-form-focus; }

@mixin b3-form-danger {
  border: map-get($core-form-borders, danger);
  box-shadow: map-get($core-form-focus-shadow, danger);
}
@mixin hook-form-danger { @include b3-form-danger; }

@mixin b3-form-success {
  border: map-get($core-form-borders, success);
  box-shadow: map-get($core-form-focus-shadow, success);
}
@mixin hook-form-success { @include b3-form-success; }

@mixin b3-form-label {
  font-weight: bold;
  color: core-color(neutral, default);
}
@mixin hook-form-label { @include b3-form-label; }

@mixin b3-form-radio {
  border: map-get($core-form-borders, primary);

  &.uk-checkbox {
    border-radius: $core-radius;
  }
}
@mixin hook-form-radio { @include b3-form-radio; }

@mixin b3-form-radio-checked {
  &.uk-radio {
    background-size: 48px;
  }

  &.uk-checkbox {
    background-size: 22px;
  }
}
@mixin hook-form-radio-checked { @include b3-form-radio-checked; }
