@mixin hook-icon-button(){
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
}

@mixin hook-inverse-component-icon(){

    //
    // Link
    //

    .uk-icon-link {
        color: $inverse-icon-link-color;
        @if(mixin-exists(hook-inverse-icon-link)) {@include hook-inverse-icon-link();}
    }

    .uk-icon-link:hover,
    .uk-icon-link:focus {
        color: $inverse-icon-link-hover-color;
        @if(mixin-exists(hook-inverse-icon-link-hover)) {@include hook-inverse-icon-link-hover();}
    }

    .uk-icon-link:active,
    .uk-active > .uk-icon-link {
        color: $inverse-icon-link-active-color;
        @if(mixin-exists(hook-inverse-icon-link-active)) {@include hook-inverse-icon-link-active();}
    }

    //
    // Button
    //

    .uk-icon-button {
        background-color: $inverse-icon-button-background;
        color: $inverse-icon-button-color;
        @if(mixin-exists(hook-inverse-icon-button)) {@include hook-inverse-icon-button();}
    }

    .uk-icon-button:hover,
    .uk-icon-button:focus {
        background-color: $inverse-icon-button-hover-background;
        color: $inverse-icon-button-hover-color;
        @if(mixin-exists(hook-inverse-icon-button-hover)) {@include hook-inverse-icon-button-hover();}
    }

    .uk-icon-button:active {
        background-color: $inverse-icon-button-active-background;
        color: $inverse-icon-button-active-color;
        @if(mixin-exists(hook-inverse-icon-button-active)) {@include hook-inverse-icon-button-active();}
    }

}
