@mixin hook-nav-default(){ font-size: $nav-default-font-size; }

@mixin hook-navbar-nav-item(){
    text-transform: $navbar-nav-item-text-transform;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
}

@mixin hook-navbar-dropdown(){ box-shadow: $navbar-dropdown-box-shadow; }

@mixin hook-navbar-dropdown-dropbar(){ box-shadow: none; }

@mixin hook-navbar-dropdown-nav(){ font-size: $navbar-dropdown-nav-font-size; }

@mixin hook-navbar-dropbar-slide(){ box-shadow: $navbar-dropbar-box-shadow; }

@mixin hook-navbar-misc(){

    /*
     * Navbar
     */

    .uk-navbar-container > .uk-container .uk-navbar-left {
        margin-left: (-$navbar-nav-item-padding-horizontal);
        margin-right: (-$navbar-nav-item-padding-horizontal);
    }
    .uk-navbar-container > .uk-container .uk-navbar-right { margin-right: (-$navbar-nav-item-padding-horizontal); }

    /*
     * Grid Divider
     */

    .uk-navbar-dropdown-grid > * { position: relative; }

    .uk-navbar-dropdown-grid > :not(.uk-first-column)::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: ($navbar-dropdown-grid-gutter-horizontal / 2);
        border-left: $navbar-dropdown-grid-divider-border-width solid $navbar-dropdown-grid-divider-border;
    }

    /* Vertical */
    .uk-navbar-dropdown-grid.uk-grid-stack > .uk-grid-margin::before {
        content: "";
        position: absolute;
        top: -($navbar-dropdown-grid-gutter-vertical / 2);
        left: $navbar-dropdown-grid-gutter-horizontal;
        right: 0;
        border-top: $navbar-dropdown-grid-divider-border-width solid $navbar-dropdown-grid-divider-border;
    }

}