@mixin hook-thumbnav-item(){

    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $thumbnav-item-background;
        transition: background-color 0.1s ease-in-out;
    }

}

@mixin hook-thumbnav-item-hover(){
    &::after { background-color: $thumbnav-item-hover-background; }
}

@mixin hook-thumbnav-item-active(){
    &::after { background-color: $thumbnav-item-active-background; }
}

@mixin hook-inverse-component-thumbnav(){

    .uk-thumbnav > * > * {
        @if(mixin-exists(hook-inverse-thumbnav-item)) {@include hook-inverse-thumbnav-item();}
    }

    .uk-thumbnav > * > :hover,
    .uk-thumbnav > * > :focus {
        @if(mixin-exists(hook-inverse-thumbnav-item-hover)) {@include hook-inverse-thumbnav-item-hover();}
    }

    .uk-thumbnav > .uk-active > * {
        @if(mixin-exists(hook-inverse-thumbnav-item-active)) {@include hook-inverse-thumbnav-item-active();}
    }

}
