/*
 * -----------------------------------------------------------------------------
 * 1. Spacing
 * -----------------------------------------------------------------------------
 */

$core-spacing-none:   0      !default;
$core-spacing-xsmall: 0.5rem !default;
$core-spacing-small:  1rem   !default;
$core-spacing-medium: 1.5rem !default;
$core-spacing-large:  3rem   !default;
$core-spacing-xlarge: 6rem   !default;

$core-size-shorthands-none:    0   !default;
$core-size-shorthands-xsmall:  xs  !default;
$core-size-shorthands-small:   s   !default;
$core-size-shorthands-medium:  m   !default;
$core-size-shorthands-large:   l   !default;
$core-size-shorthands-xlarge:  xl  !default;
$core-size-shorthands-2xlarge: xxl !default;

@if mixin-exists(b3-config-spacing) { @include b3-config-spacing; }

$core-spacing: (
  none:   $core-spacing-none,
  xsmall: $core-spacing-xsmall,
  small:  $core-spacing-small,
  medium: $core-spacing-medium,
  large:  $core-spacing-large,
  xlarge: $core-spacing-xlarge
) !default;

$core-size-shorthands: (
  none:    $core-size-shorthands-none,
  xsmall:  $core-size-shorthands-xsmall,
  small:   $core-size-shorthands-small,
  medium:  $core-size-shorthands-medium,
  large:   $core-size-shorthands-large,
  xlarge:  $core-size-shorthands-xlarge,
  2xlarge: $core-size-shorthands-2xlarge
) !default;

/*
 * -----------------------------------------------------------------------------
 * 2. Colours
 * -----------------------------------------------------------------------------
 */

// The amount to lighten/darken core colors for different states.
$core-color-adjustment: 5%;

$core-colors-neutral: (
  100: #F7FAFC,
  200: #EDF2F7,
  300: #E2E8F0,
  400: #CBD5E0,
  500: #A0AEC0,
  600: #718096,
  700: #4A5568,
  800: #2D3748,
  900: #1A202C,
  default: #2D3748
) !default;

$core-colors-primary: (
  light:  #90CDF4,
  medium: #2B6CB0,
  dark:   #2A4365,
) !default;

$core-colors-secondary: (
  light:  #EDF2F7,
  medium: #CBD5E0,
  dark:   #4A5568,
) !default;

$core-colors-warning: (
  light:  #ffe082,
  medium: #ffca28,
  dark:   #ffa000,
) !default;

$core-colors-danger: (
  light:  #FEB2B2,
  medium: #C53030,
  dark:   #742A2A,
) !default;

$core-colors-success: (
  light:  #9AE6B4,
  medium: #2F855A,
  dark:   #22543D,
) !default;


@if mixin-exists(b3-config-colors) { @include b3-config-colors; }

$core-colors: (
  neutral:   $core-colors-neutral,
  primary:   $core-colors-primary,
  secondary: $core-colors-secondary,
  warning:   $core-colors-warning,
  danger:    $core-colors-danger,
  success:   $core-colors-success
) !default;

@function core-color($color, $grade: default) {
  @return map-get(map-get($core-colors, $color), $grade);
};

/*
 * -----------------------------------------------------------------------------
 * 3. Typography
 * -----------------------------------------------------------------------------
 */

$core-font-family:
  "Open Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji"
  !default;

$core-text-color-default: core-color(neutral, default) !default;

// lightest possible neutral to meet 4.5 contrast ratio
$core-text-color-muted: #68778D !default;

@if mixin-exists(b3-config-typography) { @include b3-config-typography; }

/*
 * -----------------------------------------------------------------------------
 * 4. Borders
 * -----------------------------------------------------------------------------
 */

$core-radius: 3px !default;

$core-border-width: 1px !default;
$core-border-color: core-color(neutral, 700) !default;

@if mixin-exists(b3-config-borders) { @include b3-config-borders; }

$core-border: $core-border-width solid $core-border-color !default;

/*
 * -----------------------------------------------------------------------------
 * 5. Forms
 * -----------------------------------------------------------------------------
 */

$core-form-border-width: 2px !default;
$core-form-focus-shadow-style: 0 0 5px !default;

$core-form-borders-neutral:   $core-form-border-width solid core-color(neutral, 700)      !default;
$core-form-borders-secondary: $core-form-border-width solid core-color(secondary, medium) !default;
$core-form-borders-primary:   $core-form-border-width solid core-color(primary, medium)   !default;
$core-form-borders-danger:    $core-form-border-width solid core-color(danger, medium)    !default;
$core-form-borders-success:   $core-form-border-width solid core-color(success, medium)   !default;

$core-form-focus-shadow-neutral:   $core-form-focus-shadow-style core-color(neutral, 300)     !default;
$core-form-focus-shadow-secondary: $core-form-focus-shadow-style core-color(secondary, light) !default;
$core-form-focus-shadow-primary:   $core-form-focus-shadow-style core-color(primary, light)   !default;
$core-form-focus-shadow-danger:    $core-form-focus-shadow-style core-color(danger, light)    !default;
$core-form-focus-shadow-success:   $core-form-focus-shadow-style core-color(success, light)   !default;

@if mixin-exists(b3-config-forms) { @include b3-config-forms; }

$core-form-borders: (
  neutral:   $core-form-borders-neutral,
  secondary: $core-form-borders-secondary,
  primary:   $core-form-borders-primary,
  danger:    $core-form-borders-danger,
  success:   $core-form-borders-success,
) !default;
$core-form-focus-shadow: (
  neutral:   $core-form-focus-shadow-neutral,
  secondary: $core-form-focus-shadow-secondary,
  primary:   $core-form-focus-shadow-primary,
  danger:    $core-form-focus-shadow-danger,
  success:   $core-form-focus-shadow-success,
) !default;

/*
 * -----------------------------------------------------------------------------
 * 6. Shadows
 * -----------------------------------------------------------------------------
 */

$core-box-shadow-style: 0 1px 8px !default;
$core-box-shadow-neutral: 0 1px 8px core-color(neutral, 500) !default;

@if mixin-exists(b3-config-shadows) { @include b3-config-shadows; }
